.header__lang-link {
    display: block;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    color: #FFFFFF;
    transition: opacity 0.3s ease;
}

.header__lang-link:hover {
    opacity: 0.4;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}

.header__lang-link:last-of-type {
    text-decoration: none;
}