.photo-grid {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
    gap: 16px;
    margin: 92px auto;
    padding: 0;
    max-width: 1184px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        gap: 14px;
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        gap: 16px;
        max-width: 720px;
        margin: 88px 0 0;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        gap: 12px;
        margin: 64px 0 0;
    }
}