.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 148px 92px;
    max-width: 984px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        padding: 0 48px 92px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
        padding: 0 0 88px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
        padding: 0 0 64px;
    }
}