.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 28px 48px 56px;
    max-width: 1184px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
        padding: 28px 48px 48px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 288px;
        padding: 16px 16px 48px;
    }
}