.place__text {
    display: grid;
    grid-row: 2;
    grid-column: 2;
    max-width: 490px;
    width: 100%;
    gap: 26px;
}

@media screen and (max-width: 768px) {
    .place__text {
        max-width: 352px;
    }
}

@media screen and (max-width: 600px) {
    .place__text {
        max-width: 288px;
        grid-row: 4;
        grid-column: 1;
        gap: 25px;
    }
}