.intro { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 442px 0 142px;
    max-width: 690px;
}

@media screen and (max-width: 1024px) {
    .intro {
        padding: 0 286px 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding: 0 24px;
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        padding: 0 16px;
        max-width: 288px;
    }
}