.cover {
    display: flex;
    position: relative;
    max-width: 1184px;
    min-height: 740px;
    padding: 0 48px 0;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        min-height: 640px;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        min-height: 480px;
        padding: 0;
    }
}

@media screen and (max-width: 520px) {
    .cover {
        max-width: 520px;
        min-height: 350px;
        padding: 0;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
        min-height: 200px;
        padding: 0;
    }
}