.cover__title {
    font-family: 'Inter Bold', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    max-width: 560px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 32px;
    position: relative;
    white-space: pre-line;
}

@media  screen and (max-width: 550px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        margin-bottom: 16px;
    }
}