.footer__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 18px;
    position: relative;
}

@media screen and (max-width:767px) {
    .footer__list {
        flex-direction: column;
        margin-bottom: 48px;
        gap: 32px;
    }
}