.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 48px 40px;
    box-sizing: border-box;
    margin-top: 80px;
}

.place:first-child {
    margin-top: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        gap: 48px 32px;
        grid-template-columns: 440px 1fr;
    }
}

@media screen and (max-width: 768px) {
    .place {
        gap: 48px 28px;
        grid-template-columns: 340px 1fr;
    }
}

@media screen and (max-width: 425px) {
    .place {
        gap: 32px;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }
}