.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    width: 100%;
    margin: 92px 48px 24px;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        margin-top: 87px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        max-width: 188px;
        margin-top: 64px;
        margin-left: 18px;
    }
}